
 body {
  margin: 0;
  font-family:Times New Roman;
}

.header {
  padding: 10px 16px;
  background: #3c67c9;
  color: #f1f1f1;
  height:40px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.adminLink {
  font-size: 16px;
  cursor: pointer;
  display: inline;
  float:right;
  margin-top:10px;
  color:#0938e0;
}
.part1{
	margin: 35px;
	background-color:inherit;
}
.hed1{
	color:#315ff5;
	text-align:center;
	font-size:50px;
}
.part2{
	margin: 35px;
	background-color:#e1e2e6;
}

.part3{
	margin: 35px;
	background-color:#e1e2e6;
	height:600px;
}
.para1{
	text-align:center;
	font-size:20px;
}

.form1{
	width:800px;
	background-color:#ccc;
    margin-left:350px;
	height:400px;
    	
}

.part4{
	margin: 35px;
	background-color:#8f7cbf;
	height:80px;
}







