
.tabElement{
	display:inline;
	float:center;
	margin-left:70px	
}
.tb{
	
	color:#f7f5f5;
}

 a {
  color: blue;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
  font-family:Times New Roman;
  font-size:30px;
  display:inline;
 }



table {
  border-spacing: 15px;
}

a:hover {
  text-decoration: underline;
}
#active {
  background-color: #8f7cbf;
}

.itemtable{
  padding: 25px;
}